/* CSS FOR STUDIO CREATE PAGE */

body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;

}

.container{
    background: rgb(255,0,0);
    background: linear-gradient(42deg, rgba(255,0,0,1) 26%, rgba(0,54,98,1) 81%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 95vh
}

.form-container{
    background-color: #f5f5f5;
    width: 75%;
    min-height: 75vh;
    height: fit-content;
    border-radius: 15px;
    display: flex;
    justify-content: center;
}

.form{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    gap: 15px;
    padding: 1.5rem; 
}

.form-field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    padding: 4px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form-header{
    text-align: center;
}

.fields-container{
    display: flex;
    gap: 5px;
    justify-content: space-between;

}

.field-container{
    display:flex;
    flex-direction: column;
    gap: 5px;
}

/* Navigation */

nav {
    position: relative;
    width: calc(100% - 60px);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.nav-links{
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    gap: 15px;
    padding: 5px;
}

/* Search */
.search-container{
    padding: 30px;
    gap: 5%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #f5f5f5;
    width: 80%;
    border-radius: 15px;
    /* border: solid black 2px; */
}


/* Martial Arts List */
.martial-arts-list{
    padding: 15px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    width: 20%;
    border-right: solid black 1px;

    height: 60vh;
    overflow-y: scroll;
    overflow-x: visible;
    gap: 15px;

}

/* Martial Arts Profile Page  */
.martial-arts-profile-page{
    padding: 0 15px;
    border-right: solid black 1px;
    width: 40%;
    height: 60vh;
    overflow-y: scroll;
}

/* studio-list */
.studio-list{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    width: 20%;
    overflow-y: scroll;
    height: 60vh;
    align-items: center;
    gap: 30px;

}

button, .link-button, .active-button-fixed, .button, .home-button {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 0.6em;
    color: red;
    cursor: pointer;
    display: flex;
    align-self: center;
    justify-content: center;

    line-height: 1;
    padding: .75em 1.1em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

  }

  .active-button-fixed{
    width: 100%;
  }

  .button-fixed{
    width: 100%;
  }

  button:hover, .link-button:hover {
    box-shadow: 0 0 40px 40px red inset;
    color: #f5f5f5;
  }

    .active-button-fixed, .active-button{
        box-shadow: 0 0 40px 40px red inset;
        color: #f5f5f5;
    }

  .studio-info{
    border: solid black 1px;
    height: 300px;
    background: rgb(255,0,0);
    background: linear-gradient(42deg, rgba(255,0,0,1) 26%, rgba(0,54,98,1) 81%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding: 15px;
  }

  .main-info{
      padding: 45px;
      width: 70%;
  }

  .other-info-container{
    width: 30%;
    padding: 45px 5px;
  }

  .other-info{
      width: 100%;
      height: 80vh;
      overflow-y: scroll;
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      background-color: lightgray;

  }
  .profile-container{
      display: flex;
      flex-direction: row;
  }

  .modal-styles{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: white;
      padding: 50px;
      z-index:1000
  }

  .overlay-styles{
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,.7);
      z-index: 1000;
  }


  .visible-info-buttons{
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 15px;
  }

  .studio-profile-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      /* flex-wrap: wrap; */
      /* justify-content: center; */
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      background-color: lightgray;
      padding: 1.75em;
      height: 75vh;
      overflow-y: scroll;
  }

  .studio-profile-event, .studio-profile-review{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    margin: 45px 15px;;
    /* padding: 20px; */
    background-color: #f5f5f5;
    border-radius: 15px;
    /* width: 715px; */
    width:90%;
    /* margin: 0 auto; */
    /* height: 430px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
  }

  .headers{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;
      border: solid black 1px;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
  }

  .edit-and-delete-button-container{
      padding: 15px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 15px;
  }

  .studio-event-content, .studio-review-content{
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: center; */
    /* overflow-y: scroll; */
    width: 100%;
    /* padding: 15px; */
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    padding: 45px;
  }

  .studio-schedule-container{
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    margin: 45px 15px;;
    /* padding: 20px; */
    background-color: #f5f5f5;
    border-radius: 15px;
    /* width: 715px; */
    width:90%;
    /* margin: 0 auto; */
    /* height: 430px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
  }

  .studio-schedule-content{
        display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    /* overflow-y: scroll; */
    /* padding: 15px; */
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    padding: 15px;
    align-self: center;
  }

  .headers-center-only{
    text-align: center;
  }

  .button-center-only{
    margin: 0 auto;
  }

  .splash-page-container{
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: rgb(255,0,0);
      background: linear-gradient(42deg, rgba(255,0,0,1) 26%, rgba(0,54,98,1) 81%);
  }

  .splash-card-v1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    width: 85%;
    margin: 30px;
    padding: 30px;
    background: white;
  }

  .splash-card-v2{
    display: flex;
    gap: 60px;
    background-color: white;
    border-radius: 15px;
    margin: 30px;
    padding: 30px;
    width: 80%;
  }

  .sub-splash-card-v2{
      display: flex;
      flex-direction: column;
      align-items: center;
        justify-content: center;
        width: 600px;
  }

  .splash-card-v3{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 60px;
    background-color: white;
    border-radius: 15px;
    margin: 30px;
    padding: 30px;
    width: 80%;
    }

    .splash-img{
        width: 300px;
        height: 300px;
    }

    .home-button:hover{
        background: rgb(255,0,0);
        background: linear-gradient(42deg, rgba(255,0,0,1) 26%, rgba(0,54,98,1) 81%);
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    }

    .splash-logged-in{
        display: flex;
        gap: 15px;
    }

    .user-info{
        border: solid black 1px;
        height: 300px;
        background: rgb(255,0,0);
        background: linear-gradient(42deg, rgba(255,0,0,1) 26%, rgba(0,54,98,1) 81%);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        color: white;
        padding: 30px;
    }

    .user-edit-button{
        align-self: flex-end;
    }

    .contact-info{
        background-color: #f5f5f5;
        display: flex;
        gap: 5px;
        justify-content: center;
        width: 100%;
        padding: 15px;
    }

    .contact-info-container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
