/* CSS FOR STUDIO CREATE PAGE */

body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;

}

.container{
    background: rgb(255,0,0);
    background: linear-gradient(42deg, rgba(255,0,0,1) 26%, rgba(0,54,98,1) 81%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 93vh
}

.form-container{
    background-color: #f5f5f5;
    width: 50%;
    height: 75vh;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.form{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    gap: 15px;
    padding: 1.5rem; 
}

.form-field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid gray;
    outline: 0;
    padding: 4px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form-header{
    text-align: center;
}

.fields-container{
    display: flex;
    gap: 5px;
    justify-content: space-between;

}

.field-container{
    display:flex;
    flex-direction: column;
    gap: 5px;
}

/* Navigation */

nav {
    position: relative;
    width: calc(100% - 60px);
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.nav-links{
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    gap: 15px;
    padding: 5px;
}

/* Search */
.search-container{
    padding: 30px;
    gap: 5%;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    background-color: #f5f5f5;
    width: 80%;
    border-radius: 15px;
    /* border: solid black 2px; */
}


/* Martial Arts List */
.martial-arts-list{
    padding: 15px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    width: 20%;
    border-right: solid black 1px;

    height: 60vh;
    overflow-y: scroll;
    overflow-x: visible;
    gap: 15px;

}

/* Martial Arts Profile Page  */
.martial-arts-profile-page{
    padding: 0 15px;
    border-right: solid black 1px;
    width: 40%;
    height: 60vh;
    overflow-y: scroll;
}

/* studio-list */
.studio-list{
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    width: 20%;
    overflow-y: scroll;
    height: 60vh;

}

button, .link-button, .active-button-fixed, .button {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid red;
    border-radius: 0.6em;
    color: red;
    cursor: pointer;
    display: flex;
    align-self: center;
    justify-content: center;

    line-height: 1;
    padding: .75em 1.1em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;

  }

  .active-button-fixed{
      width: 300px;
  }

  .button-fixed{
    width: 300px;
  }

  button:hover, .link-button:hover {
    box-shadow: 0 0 40px 40px red inset;
    color: #f5f5f5;
  }

    .active-button-fixed, .active-button{
        box-shadow: 0 0 40px 40px red inset;
        color: #f5f5f5;
    }

  .studio-info{
    border: solid black 1px;
    height: 300px;
    background: rgb(255,0,0);
    background: linear-gradient(42deg, rgba(255,0,0,1) 26%, rgba(0,54,98,1) 81%);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: white;
    padding: 15px;
  }

  .main-info{
      padding: 45px;
      width: 75%;
  }

  .other-info{
      width: 25%;
  }
  .profile-container{
      display: flex;
      flex-direction: row;
  }

  .modal-styles{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: white;
      padding: 50px;
      z-index:1000
  }

  .overlay-styles{
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0,0,0,.7);
      z-index: 1000;
  }


  .visible-info-buttons{
      margin-top: 30px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 15px;
  }

  .studio-profile-container{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }

  .studio-profile-event{
      border: solid black 1px;
      margin: 10px;
    padding: 20px;
  }

  .headers{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
